.venv/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
data/raw/*.csv
.jupyter_runtime/
.jupyter_config/
.jupyter_data/
uv_jupyter.md
pyproject.toml
.python-version
README.md
uv.lock
data/raw.csv
src/practica_machine_learning_limpio/__init__.py
.gitignore
apuntes/clase_1_introduccion_ml_live.ipynb
apuntes/clase_2_modelos_supervisados_live.ipynb
data/procesed.csv
data/descripcion_procesado.md
apuntes/clase_2_modelos_supervisados_live.ipynb
apuntes/clase_1_introduccion_ml_live.ipynb
apuntes/Explicaciones_modelos.md
models/test/artifacts/linear_regression_process.joblib
models/test/artifacts/linear_regression_process.pkl
models/test/artifacts/companero_arbol_decision.pkl
models/test/artifacts/companero_random_forest.pkl
models/test/artifacts/companero_red_neuronal_mlp.pkl
models/test/artifacts/companero_regresion_logistica.pkl
models/test/artifacts/companero_xgboost.pkl
data/procesed_backup_pre_companero.csv
notebooks/comparativa_modelos2.ipynb
models/test/artifacts/base_xgboost.pkl
models/test/artifacts/base_regresion_logistica.pkl
models/test/artifacts/base_red_neuronal_mlp.pkl
models/test/artifacts/base_random_forest.pkl
models/test/artifacts/base_arbol_decision.pkl
